html,
header,
fieldset,
#sign-up-button,
.flex-pair,
.flex-newsletter-select,
.flex-newsletter-options,
.flex-newsletter-other {
  display: flex;
}

html,
header,
fieldset,
.flex-pair,
.flex-newsletter-select,
.flex-newsletter-other {
  flex-direction: column;
}

#sign-up-button {
  flex: 0 30px;
  justify-content: center;
  align-items: center;
}

/* contact info label/field pairs */
.flex-pair {
  flex: 1 80px;
}

.flex-newsletter-select {
  flex: 1;
}

.flex-newsletter-options {
  flex: 1 40px;
  align-items: center;
}

.flex-newsletter-other {
  flex: 1 30px;
}

form {
  flex: 1 1150px;
}

.contact-info {
  flex: 1;
  justify-content: flex-start;
}

.flex-pair label {
  flex: 0;
}

.newsletter-selection {
  flex: 1 500px;
}

@media screen and (min-width: 768px) {
  .flex-pair {
    flex-direction: row;
    flex: 1 65px;
    justify-content: stretch;
  }

  .flex-pair label {
    flex: 0 144px;
    display: flex;
    align-items: center;
  }

  .flex-pair input:not(#zip), .flex-pair select {
    flex: 1;
  }
}