* {
  font-family: 'Raleway', sans-serif;
  box-sizing: border-box;
  margin: 0;
  color: var(--main-text-color);
  background-color: var(--main-bg-color);
}

:root {
  --main-bg-color: #f4f3ee;
  --secondary-bg-color: #bcb8b1;
  --main-accent-color: #db8970;
  --secondary-accent-color: #e0afa0;
  --main-text-color: #463f3a;
  --secondary-text-color: #8a817c;
}

body {
  width: 100%;
  margin: auto;
}

header p:last-child {
  color: var(--secondary-text-color);
  border-bottom: 4px solid var(--main-text-color);
  margin-bottom: 2px; 
}

hr {
  border-bottom: 1px solid var(--main-text-color);
}

form, footer, header p {
  width: 80%;
  margin: auto;
  max-width: 800px
}

h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 22px;
  background-color: var(--main-text-color);
  color: var(--main-bg-color);
  padding-top: 1em;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 1em;
}

.subtitle {
  font-size: 24px;
  font-weight: 600;
  margin: auto;
}

h1, p {
  text-align: center;
  padding-bottom: 0.8em;
}

legend {
  font-size: 24px;
  font-weight: 800;
  padding-top: 0.7em;
}

input, select, textarea, button {
  border: none;
  border-radius: 3px;
  background-color: var(--secondary-bg-color);
  transition: background-color 2s;
}

input:focus, select:focus, textarea:focus {
  background-color: var(--secondary-accent-color);
}

#sign-up-button {
  background-color: var(--main-accent-color);
  color: var(--main-bg-color);
  width: 100%;
  height: 3em;
  font-weight: 600;
  font-size: 18px;
}

input::placeholder {
  color: var(--main-text-color);
  text-align: right;
  font-size: 0.9em;
  font-style: italic;
  font-weight: 100;
  padding-right: 0.5em;
}

#zip {
  width: 144px;
}

fieldset {
  border: none;
  width: 100%;
  padding: 1em 0;
}

.contact-info * {
  height: 3em;
}

.flex-newsletter-options label {
  padding-left: 0.4em;
}

footer p {
  text-align: center;
  color: var(--secondary-text-color);
  font-style: italic;
}

.flex-newsletter-select {
  margin-left: 7px;
}

label[for="topics"] {
  margin-bottom: .5em;
}

#copyright {
  padding: 15px 0;
}
