* {
  font-family: 'Raleway', sans-serif;
  box-sizing: border-box;
  margin: 0;
  color: var(--main-text-color);
  background-color: var(--main-bg-color);
}

:root {
  --main-bg-color: #f4f3ee;
  --secondary-bg-color: #bcb8b1;
  --main-accent-color: #e0afa0;
  --main-text-color: #463f3a;
  --secondary-text-color: #8a817c;
}

html {
  display: flex;
  flex-direction: column;
}

body {
  width: 100%;
  margin: 0 auto;
  max-width: 768px;
}

header {
  display: flex;
  flex-flow: column;
}

header p:last-child {
  color: var(--secondary-text-color);
  margin: auto;
  border-bottom: 4px solid var(--main-text-color);
  margin-bottom: 2px;
}

.main-form, footer, header p {
  width: 90%;
}

.main-form {
  margin: auto;
  height: 1150px;
}

.contact-info, .newsletter-selection {
  border-top: 2px solid var(--main-text-color);
}

h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 22px;
  background-color: var(--main-text-color);
  color: var(--main-bg-color);
  padding-top: 1em;
  text-transform: uppercase;
  margin-bottom: 1em;
}

.subtitle {
  font-size: 24px;
  font-weight: 600;
  margin: auto;
}

h1, p {
  text-align: center;
  padding-bottom: 0.8em;
}

input, select, textarea {
  border: none;
  border-radius: 3px;
  background-color: var(--secondary-bg-color);
}

input:focus, select:focus, textarea:focus {
  border: 2px solid var(--secondary-text-color);
}

#sign-up-button {
  background-color: var(--main-accent-color);
  color: var(--main-bg-color);
  flex: 0 30px;
  display: flex;
  width: 100%;
  height: 3em;
  font-weight: 600;
  font-size: 18px;
  justify-content: center;
}

input::placeholder {
  color: var(--main-text-color);
  text-align: right;
  font-size: 0.9em;
  font-style: italic;
  font-weight: 100;
  padding-right: 0.3em;
}

#zip {
  width: 50%;
}

fieldset {
  display: flex;
  flex-flow: column;
  border: none;
  width: 100%;
  padding: 1em 0;
}

.contact-info {
  height: 700px;
}

.contact-info * {
  height: 3em;
}

.flex-pair {
  flex: 1 200px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.flex-pair label {
  flex: 0;
}

.newsletter-selection {
  height: 500px;
}

.newsletter-selection label {
  flex: 1 30px;
}

.flex-newsletter-select {
  flex: 1 200px;
  display: flex;
  flex-direction: column;
}

.flex-newsletter-options {
  flex: 1 45px;
  display: flex;
}

.flex-newsletter-options label {
  padding-left: 0.4em;
}

.flex-newsletter-other {
  flex: 1 30px;
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 0.3em;
}

footer p {
  text-align: center;
  color: var(--secondary-text-color);
  font-style: italic;
}